{% extends "_global/index.html" %}

{% block main %}

<div class="loginBox">
    <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Sign in here</h3>
    <form action="{{ BASE }}user/login" method="POST">
        <div class="inputBox">
            <input id="input_username" type="text" name="login_username" placeholder="Username" required>
            <input id="input_password" type="password" name="login_password" placeholder="Password" required>
        </div>
        <input type="submit" name="" value="Login">
    </form>
    <div class="text-center">
        <p>Don't have an account? <a href="{{ BASE }}user/register">Sign up</a></p>
    </div>
</div>



<!-- <form action="{{ BASE }}user/login" method="POST">

    <div>
        <label for="input_username">Username:</label>
        <input type="text" id="input_username" name="login_username" required placeholder="Enter your username...">
    </div>

    <div>
        <label for="input_password">Password:</label>
        <input type="password" id="input_password" name="login_password" required placeholder="Enter your password...">
    </div>

    <p>Don't have an account? <a href="{{ BASE }}user/register">Sign up</a></p>

    <div>
        <button type="submit">
            Log in
        </button>
    </div>


</form> -->

{% endblock %}