{% extends "_global/index.html" %}

{% block main %}


<div class="registerBox">
    <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Sign up here</h3>
    <form action="{{ BASE }}user/register" method="POST">
        <div class="inputBoxR">
            <input type="text" id="input_forename" name="reg_forename" required placeholder="Forename">
            <input type="text" id="input_surname" name="reg_surname" required placeholder="Surname">
            <input id="input_email" type="email" name="reg_email" required placeholder="Email">
            <input id="input_username" type="text" name="reg_username" placeholder="Username" required>
            <input id="input_password" type="password" name="reg_password_1" placeholder="Password" required>
            <input type="password" id="input_password_2" name="reg_password_2" required placeholder="Repeat password">
        </div>
        <input type="submit" name="" value="Sign up">
    </form>
    <div class="text-center">
        <p>Have an account already?<a href="{{ BASE }}user/login">Sign in</a></p>
    </div>
</div>




<!-- <form action="{{ BASE }}user/register" method="POST">

    <div>
        <label for="input_email">E-mail:</label>
        <input type="email" id="input_email" name="reg_email" required placeholder="Enter your email...">
    </div>

    <div>
        <label for="input_forename">Forename:</label>
        <input type="text" id="input_forename" name="reg_forename" required placeholder="Enter your forename...">
    </div>

    <div>
        <label for="input_surname">Surname:</label>
        <input type="text" id="input_surname" name="reg_surname" required placeholder="Enter your surname...">
    </div>

    <div>
        <label for="input_username">Username:</label>
        <input type="text" id="input_username" name="reg_username" required placeholder="Enter your username...">
    </div>

    <div>
        <label for="input_password_1">Password:</label>
        <input type="password" id="input_password_1" name="reg_password_1" required
            placeholder="Enter your password...">
    </div>

    <div>
        <label for="input_password_2">Repeat your Password:</label>
        <input type="password" id="input_password_2" name="reg_password_2" required
            placeholder="Repeat your password...">
    </div>

    <div>
        <button type="submit">
            Register
        </button>
    </div>

    <p>Have an account already?<a href="{{ BASE }}user/login">Log in</a></p>


</form> -->

{% endblock %}