<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Auction house - {% block naslov %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
</head>

<body>
    <header class="site-header">
        <div class="banners">
            <a href="{{ BASE }}" class="banner">
                <img src="{{ BASE }}assets/img/banner-1.jpg" alt="banner">
            </a>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="search-box">
            <form action="{{ BASE }}search" method="post">
                <input type="text" name="q" placeholder="Type something..." required pattern="[^\s]{2,}">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <nav id="main-menu">
            <ul>
                <li> <a href="{{ BASE }}"><i class="fa fa-home"></i>Home</a></li>
                <li> <a href="{{ BASE }}categories"><i class="fa fa-list-alt"></i>Categories</a></li>
                <li> <a href="{{ BASE }}profile"><i class="fa fa-user"></i>Profile</a></li>
                <li> <a href="{{ BASE }}contact"><i class="fa fa-phone"></i>Contact</a></li>
                <li> <a href="{{ BASE }}log-out"><i class="fa fa-sign-out"></i>Log-Out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>

    <div class="bookmarks">
        Loading bookmarks...
    </div>

    <footer class="site-footer">
        &copy; 2022 Alen Mujanovic - Auction house
    </footer>

    <script>const BASE = '{{ BASE }}';</script>
    <script src="{{ BASE }}assets/js/bookmark.js"></script>
</body>

</html>